@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
* {
  box-sizing: border-box; }

body {
  background: #272C30;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

.AppWrap {
  background: #22272A;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3.5rem; }

h2 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2.4rem; }

h3 {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem; }

a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  transition: border 0.2s ease; }
  a:hover {
    border-bottom: 2px solid #FFCE28; }

input {
  display: block;
  border: 0;
  background: #1b1f22;
  border-bottom: 2px solid #1888C8;
  width: 100%;
  padding: 10px;
  opacity: 0.7;
  font-size: 1.4rem;
  outline: 0;
  color: #fff;
  transition: all 0.2s ease; }
  input:hover, input:focus {
    opacity: 1; }
